[Desktop Entry]
Type=Application
Version=1.0
Name=Batocera Unofficial Add-Ons
Comment=Browse community-maintained software for Batocera
Exec=/usr/bin/bua
Icon=bua
Terminal=false
Categories=Game;Utility;
Keywords=Batocera;Add-ons;Community;
