[Desktop Entry]
Type=Application
Name=Network Connections
Comment=Manage LuigiOS networking through ConnMan
Exec=/usr/bin/cmst --minimized
Icon=network-wireless
OnlyShowIn=KDE;
X-KDE-autostart-after=panel
