[Desktop Entry]
Type=Application
Version=1.0
Name=Return to LuigiOS Game Mode
Comment=Close Desktop Mode and return to the LuigiOS game library
Exec=/usr/local/bin/batocera-desktop-command return
Icon=system-log-out
Terminal=false
Categories=System;
Keywords=LuigiOS;Game Mode;Library;
